@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');



body {
  background-color: forestgreen;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;

  #filterBtns {
    margin: 0 auto;
  }

  #vocab-container {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
      background-color: gray;
      color: white;
    }

    a {
      color: #6a01ebbf;
    }

    .card-title {
      font-family: "Caveat", cursive;
      font-size: 35px;
    }
  }

  #form-container {
    width: 80%;
    margin: auto;
    justify-content: center;
    color: black;
    font-weight: bold;

    .form-group {
      margin-bottom: 10px;
    }
  }
}

#logo {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

#feature-sort {
  margin-top: 15px;
  margin-left: 30px;
}

#login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    color: whitesmoke;
    margin-bottom: 50px;
  }

  button {
    background-color: peru;
    border: 0px;
    padding: 10px 20px;
    font-weight: bold;
  }
}

#all-vocabCards {
  margin-right: 5px;
}
